body {
  font-family: "Montserrat Alternates", sans-serif;
}

h1 {
  color: black;
}

a {
  text-decoration: none;
  color: slateblue;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  font-size: 1.5rem;
  color: slategray;
}

.app-container {
  border: 1px solid slategray;
  border-radius: 10px;
  display: block;
  margin: 40px auto;
  max-width: 90%;
  padding: 20px;
}

.btn {
  background-color: slateblue;
  border: slateblue;
  margin-right: 10.5px;
}

.overview-container {
  margin: 40px;
}

.row {
  margin: 30px;
}

.weather-icon {
  margin-right: 15px;
}

#daily-temp {
  color: black;
  font-size: 64px;
  line-height: 1;
}

.temp-units {
  color: slategray;
  font-size: 1.5rem;
}

.temp-units .active {
  color: black;
  cursor: default;
}

.open-source-footer {
  text-align: center;
}

#weather-description {
  text-transform: capitalize;
}

.card {
  border: none;
  text-align: center;
  margin: 20px auto;
  display: flex;
  align-items: center;
  color: slategray;
}

.forecast-day-title {
  font-size: 1.5rem;
}

.card-icon {
  width: 60px;
}

.forecast-temps {
  font-size: 1rem;
  opacity: 0.8;
}
